:root {
  --primary-color: #8646a3;
  --secondary-color: #f6f0fd;
}

body {
  margin: 60px auto;
  max-width: 100%;
  margin-top: 100px;
}

.navbar {
  background-color: var(--secondary-color);
}

.navbar-brand {
  letter-spacing: 2px;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
  opacity: 0.7;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.navigation-links a {
  padding: 20px 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-radius: 35px;
  font-weight: 500;
}

.navigation-links a:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.app-info-section {
  margin-top: 70px;
}

.app-link {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.app-link:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  filter: brightness(85%);
}

.about-paragraph {
  margin: 40px auto;
  opacity: 0.8;
  font-size: 1.2rem;
}

.email-link {
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .homepage img {
    display: none;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.5;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    text-align: justify;
    margin: 20px;
  }

  .app-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
